/*///////// menu playlist////////*/
.box_listmenu{
    margin-bottom: 20px;
    margin-top: 80px !important;
}
.cssmenu a {
    text-decoration: none;
    background: none;
    font-size: 15px;
    cursor: default;
    margin-top: -1px;
}

.cssmenu a:hover{
    text-decoration: none;
}
ul.cssmenu {
    height: 250px;
}


.cssmenu li{
    list-style: none;
    width: 204px;
    float: left;
    margin: 0 8px 0 0;
}
.cssmenu li.listvn a{
    background: none;
    font-size: 15px;
    margin-left: 5px;
    cursor: default;
    margin-top: -1px;
    font-weight: bold;
    padding: 5px 10px 5px 10px;
}
.cssmenu li.listvn{
    font-weight: bold;
    text-transform: uppercase;
    height: 70px;
}

.cssmenu .line{
    width: 100%;
    border-bottom: 1px solid #e5e5e5;
    height: 1px;
    margin-bottom: 10px
}

.cssmenu  li a {
    font-size: 14px;
    color: #333333;
    background: url(https://stc-id.nixcdn.com/v11/images/icon-repeat.png) 0px -2002px no-repeat;
    background-size: 17px auto;
    margin: 2px 0 2px -6px;
    padding: 3px 10px 2px 20px;
    line-height: 22px;
    float: left;

}
.cssmenu li a:hover:not(.active) {
    background: url(https://stc-id.nixcdn.com/v11/images/icon-repeat.png) 0px -2025px no-repeat #e74c3c;
    background-size: 17px auto;
    color: #fff;
    border-radius: 5px;
    width: auto;
    padding-right: 10px;
    margin-left: -6px;
    padding-left: 20px;
}
.cssmenu li a:hover:not(.active) {
    background: url(https://stc-id.nixcdn.com/v11/images/icon-repeat.png) 0px -2025px no-repeat #e74c3c;
    background-size: 17px auto;
    color: #fff;
    border-radius: 5px;
    width: auto;
    padding-right: 10px;
    margin-left: -6px;
    padding-left: 20px;
}





/* ///////////xem thêm ////////////*/
.view_more_list {
    color: #ccc;
    position: relative;
    margin-left: -6px !important;
    z-index: 10;
}

.dot_more {
    height: 26px;
    font-size: 14px;
    cursor: pointer;
   
}

.view_more_list:hover .dot_cricle {
    background: #fff;
}

.dot_cricle {
    display: inline-block;
    width: 4px;
    height: 4px;
    background: #999;
    margin-right: 2px;
    margin-bottom: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
}

.view_more_list:hover .dot_more {
    color: #fff;
}
.view_more_list:hover {
    background: #e74c3c;
    color: #fff;
    border-radius: 5px;
}
.view_more_list:hover ul {
    display: block;
    position: absolute;
}

.view_more_list ul {
    display: none;
    background: #fff;
    padding: 10px;
    right: 0;
    border-top-left-radius: 4px;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
    box-shadow: 0px 0px 5px 0px #b7b7b7;
    cursor: pointer;
}