.backgroud-All{
    width: 100vh;
    height: 100vh;
    background-image: linear-gradient(110deg, green 50%, blue 50%);

}

/* .item-top{

}

.img-logo{

}

.img-logo{

}

.item-bottom{

}

.item-left{

}

.item-right{

} */
