.profile-background1{

    background-color: #d6d5d4;
    width: 100%;
    height: 420px;
    margin-top: 44px;
    padding: 50px 0;

}

.profile-all{
    display: flex;
    justify-content: center;

}

.profile-content{
    text-align: left;

}

.profile-Name{
     text-align: left;
    margin-bottom: 20px;


}
.profile-story{
    text-align: left;
    max-width: 400px !important;


}

.profile-img{
    margin-left: 200px;



}

.img-avata{
    border-radius: 50%;
    width: 300px;
    height: 300px;


}
